<div class="container">
	<h1>Create your own workout</h1>
	<p>Name your workout program</p>

	<form class="workout" action="/workouts" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="submit" value="Save">
	</form>
</div>