<div class="sign-in">
	<form action="/users" method="POST" class="form-signup">
		<h2 class="form-signup-heading">New Account</h2>
		
		<input type="text" name="user_name" class="form-control" placeholder="Username">
		
		<input type="password" name="password" class="form-control" placeholder="Password">
		
		<button class="btn sign-up" type="submit">Sign up</button>
	</form>
</div>